# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment
.env
.venv
database.json

# Files
downloads/
outputs/
*.mp4
*.avi
*.mkv
*.mov
*.flv
*.wmv
*.jpg
*.jpeg
*.png
*.webp

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
